@import "../../../common/styles/common";

.input-date{
  background: rgba(128, 131, 164, 0.06);
  border: 2px solid rgba(128, 131, 164, 0.2);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 9px 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #2C2D76;
  //cursor: pointer;
  outline: none;
  width: 100%;
  max-width: 252px;

 &:focus{
    border: 2px solid #373AF5;
  }

  &::-webkit-calendar-picker-indicator {
    color: transparent;
    opacity: 1;
    background-image: url("./images/calendar.svg");
    background-size: contain;
    cursor: pointer;
    width: 16px;
    height: 16px;
  }

}