@import "../../common/styles/common";

.calc-forecast-template{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @include media('(max-width: 610px)') {
    width: calc(100% + 24px);
    align-self: flex-start;
  }

  &__arrow{
    position: absolute;
    cursor: pointer;

    @include media('(max-width: 820px)') {
      display: none;
    }

    &:hover, &:active{
      opacity: 0.4 !important;
    }

    &_left{
      left: -40px;
    }

    &_right{
      right: -40px;
    }

  }

  &__items{
    display: flex;
    flex-shrink: 0;

    &__overlay{
      width: 100%;
      max-width: 542px;
      min-height: 225px;
      overflow: hidden;

      @include media('(max-width: 820px)') {
        overflow-x: auto;
      }

    }

    .visual-card-template{
      width: 174px;
      flex-shrink: 0;

      &:not(:last-child){
        margin-right: 10px;

        @include media('(max-width: 610px)') {
          margin-right: 16px;
        }

      }

      &:last-child {
        @include media('(max-width: 610px)') {
          margin-right: 16px !important;
        }
      }

    }
  }

}